.artic{
    margin-left: 50px;
}

#here{
    margin-left: 150px;

}

body{
    font-family: myFirstFont;
}

ul {list-style: none}
.footery>li::marker {content: "> "; color: #03AF9F}

ul > li::marker {content: "• "; color: #03AF9F}



.here{
    transform: translate(10rem, -5rem);
    /* transform: translateY(-20rem); */
}

i:hover{
    background-color: transparent !important;
}

.carousel-indicators {
    text-align: left;
    float: left;
    left: -5% !important;
    right: inherit;
}

.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url('satoshi.ttf');
}

